<!DOCTYPE html>
<html>

<head>
	
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'custom.css' %}" type="text/css">
</head>

<body>

	<nav class="navbar navbar-inverse" style="">
	  	<div class="container-fluid">
	    	<!-- <div class="navbar-header">
	      		<a class="navbar-brand" href="#">
	       			<h2>Greedymusic</h2>
	     		</a>
	   		</div> -->
	   		<div class="col-md-3 col-md-offset-5 text-center">
	   			<a class="navbar-brand title" href="/greedymusic">Greedymusic Webapp</a>
	   		</div>
	  	</div>
	</nav>


	<div class="row">

		<div class="col-md-6 col-md-offset-3 text-center">

			

			<br/>

				{% if genre_list %}
					<div class="panel panel-success">
						  <div class="panel-heading">
						  	<a href="/greedymusic/genres">GENRES</a>
						  </div>
						  <!-- <div class="panel-body"> -->
						  	<table class="table table-striped">
						  		<tr>
						  		<td><b>ID</b></td>
						  		<td><b>Genre</b></td>
						  		<td><b>Options</b></td>
						  		</tr>

					{% for genre in genre_list %}

						
						  

							  	<tr>

							  		<td><a href="{% url 'greedymusic:detailGenre' genre.id %}">{{genre.id}}</a></td>


							  		<td>{{genre.genre_name}}</td>

							  		<td><a href="{% url 'greedymusic:editGenre' genre.id %}"><span class="glyphicon glyphicon-pencil"></span></a></td>

							  	</tr>

						  	
						

					{% endfor %}
						</table>
						  </div>
						<!-- </div> -->

				{% else %}

					<p>No genres available</p>

				{% endif %}
		</div>

	</div>

	<div class="row">

	<div class="col-md-4 col-md-offset-4 text-center">

		<button class="btn btn-success btn-md" onclick="window.location.href='/greedymusic/addGenre'">Add New Genre</button>

	</div>

</body>
